* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f5f5f5;
    color: #222;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: #111;
    color: white;
}

.logo {
    font-size: 28px;
    font-weight: bold;
}

.logo span {
    color: #ff8800;
}

.nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;

}

.nav a:hover {
    color: #ff8800;
}

.btn {
    background: #ff8800;
    padding: 10px 18px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.hero {
    height: 80vh;
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)),
                url("https://images.unsplash.com/photo-1599058917212-d750089bc07d") center/cover;
    display: flex;
    align-items: center;
    padding: 0 60px;
    color: white;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 15px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 25px;
}

.btn-primary {
    font-size: 18px;
}

.categories {
    padding: 60px;
    text-align: center;
}

.categories h2 {
    margin-bottom: 30px;
    font-size: 32px;
}

.category-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card {
    background: white;
    padding: 30px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    background: #ff8800;
    color: white;
}

.products {
    padding: 60px;
    background: #eee;
}

.products h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 32px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.product-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.product-card img {
    width: 100%;
    border-radius: 8px;
}

.product-card h3 {
    margin: 15px 0 5px;
}

.product-card p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.product-card button {
    background: #111;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.product-card button:hover {
    background: #ff8800;
}

.footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 20px;
}
